.text13 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
}
.title18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.imgconteiner-icon {
  position: relative;
  width: 375px;
  height: 375px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.titulo11 {
  position: relative;
  line-height: 140%;
  color: var(--gray-10001);
  display: inline-block;
  width: 368px;
}
.icon12 {
  position: relative;
  width: 15px;
  height: 18px;
  flex-shrink: 0;
  object-fit: cover;
}
.destino {
  position: relative;
  line-height: 140%;
}
.duracao,
.localduracao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.localduracao {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.porpessoa4,
.precoantes {
  position: relative;
  text-decoration: line-through;
  line-height: 140%;
}
.porpessoa4 {
  font-size: var(--body-fs-01-size);
  color: var(--gray-9002);
}
.preco6 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-2xl);
  color: var(--theme-primary);
}
.precos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag-icon {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  object-fit: cover;
}
.desconto1 {
  background-color: var(--color-darkorange);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-8xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  color: var(--theme2-primary1);
}
.precodesconto {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.card01,
.card02,
.cards,
.precodesconto {
  display: flex;
  align-items: flex-start;
}
.card01,
.card02 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.cards {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.frame2,
.header011,
.promocards {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.frame2 {
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-fs-01-size);
  color: var(--gray-9002);
}
.header011,
.promocards {
  align-self: stretch;
  align-items: center;
}
.promocards {
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.header011 {
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--gray-11001);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .title18 {
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
  .card01,
  .card02 {
    flex-direction: column;
    z-index: 2;
  }
  .card02 {
    z-index: 1;
  }
  .cards {
    flex-direction: row;
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
  .cards,
  .header011,
  .promocards {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .card01 {
    padding-top: 0;
    box-sizing: border-box;
  }
  .card01,
  .card02 {
    width: 100%;
    padding-bottom: 2%;
  }
  .card02,
  .cards,
  .frame2 {
    box-sizing: border-box;
  }
  .cards {
    width: 100%;
    flex-direction: column;
    padding-left: var(--padding-5xl);
  }
  .frame2 {
    padding-left: 0;
    padding-top: 0;
  }
  .frame2,
  .header011 {
    width: 100%;
  }
}
