.title10 {
  position: relative;
  line-height: 140%;
}
.titulo4 {
  align-self: stretch;
  background-color: var(--theme-primary);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.minhasviagens {
  background-color: var(--color-lavender-200);
  height: 650px;
  flex-direction: column;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--gray-100);
  font-family: var(--font-roboto);
}
.minhasviagens,
.profile,
.viagens-user {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile {
  align-self: stretch;
  height: 694px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-12xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.viagens-user {
  position: relative;
  background-color: var(--theme-white);
  width: 100%;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .profile {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .titulo4 {
    width: 100%;
  }
  .minhasviagens {
    width: 100%;
    flex-direction: column;
  }
  .profile {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
